
:root {
  /* Тема / Общие стили */
  --theme-bg-base: #ffffff;
  --theme-bg-secondary: #f8f8f8;

  /* Текст */
  --text-color-primary: #1b1c21;
  --text-color-secondary: #7e7e82;
  --text--color-tertiary:  #B5B6BC;
  --text--color-accent: #FF3E79;
  --text--color-accent-hover: #b30000;
  --text--color-accent-active: #530000;


  /* Границы */
  --border-color-default: #d9fff5;
  --border-color-secondary: #EAEAEA;

  /* Акцент */
  --accent-color-primary: #b8ffec;
  --accent-color-secondary: #d9fff5;


  --swiper-theme-color: #b5b6bc;
  --swiper-pagination-bullet-inactive-color: #dddddd;
  --swiper-navigation-size: 44px;
}


