:root {
  --swiper-theme-color: #b5b6bc;
}

.main {
  background-color: #f8f8f8;
}

.main__header {
  display: flex;
  background-color: #ffffff;
  border-top: 1px solid #d9fff5;
  padding: 16px;
}

.main__header-h1 {
  font-family: "TT Lakes";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  height: 48px;
  max-width: 288px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .main__header {
    justify-content: flex-start;
    height: 56px;
    padding-left: 24px;
    margin: 0;
  }

  .main__header-h1 {
    display: flex;
    align-items: center;
    max-width: 350px;
    margin: 0;
  }
}

.main__catalog-slider {
  position: relative;
  padding: 16px;
  overflow: hidden;
}

.swiper {
  position: relative;
}


@media (min-width: 768px) {
  .main__catalog-slider {
    padding: 24px;
  }

  .swiper-wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .swiper-pagination {
    display: none;
  }

  .services__scroll-fade {
    display: none;
  }
}

@media (min-width: 1120px) {
  .swiper-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    /*     grid-template-columns: repeat(4, 1fr); */
    gap: 16px;
  }
}

.main__catalog-slider__button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 240px;
  height: 72px;
  background-color: #ffffff;
  border: #eaeaea solid 1px;
  border-radius: 5px;
  margin: 0;
}

.services__scroll-fade {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 81px;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  pointer-events: none;
}

.main__catalog__button {
  width: 240px;
  height: 72px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.swiper-slide {
  display: flex;
  transition: all 0.3s ease;
  /*   scroll-snap-align: start; */
  width: 240px;
  flex-shrink: 0;
}

.swiper-slide.collapsed {
  display: none;
}

@media (min-width: 768px) {
  .main__catalog__button {
    width: 224px;
  }

  .swiper-slide {
    width: 224px;
  }
}

.swiper-pagination {
  position: static;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  padding-top: 16px;
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 12px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 12px)
  );
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.main__expand-text {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 134px;
  height: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
}

.main__expand-text__button {
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

@media (max-width: 767px) {
  .main__expand-text {
    display: none;
  }
}

.main__catalog-slider__button-custom-slide--repair {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  padding: 16px;
  width: 240px;
  height: 160px;
  border-radius: 5px;
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  box-sizing: border-box;
}

.main__catalog-slider__button-custom-slide--repair p {
  margin: 0;
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  align-self: start;
}

.main__catalog-slider__button-custom-slide--repair img {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  align-self: end;
}

@media (max-width: 767px) {
  .main__catalog-slider__button-custom-slide--repair {
    width: 224px;
  }
}

.swiper-slide--price {
  width: 260px;
  height: 200px;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 228px;
  height: 168px;
  gap: 16px;
}

.price__wrapper-item:first-child {
  width: 228px;
  height: 56px;
}

.price__wrapper-item p {
  margin: 0;
  font-family: "TT Lakes";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}

.price__wrapper-item p:first-child {
  margin: 0;
  font-family: "TT Lakes";
  color: #7e7e82;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
}

.price__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 767px) {
  #priceSliderMobile {
    display: none;
  }
}

@media (max-width: 767px) {
  #priceSlider {
    display: none;
  }
}

.main__price-table {
  padding: 24px;
}

.main__price-table-head {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 16px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #7e7e82;
}
.main__price-table-row--wrappler {
  border-radius: 5px;
}

.main__price-table-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 16px;
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
  font-family: "Lakes";
  color: #1b1c21;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.main__price-table-row::after {
  content: "";
  position: absolute;
  left: 2%;
  bottom: 0;
  width: 96%;
  height: 1px;
  background-color: #eaeaea;
}

.main__price-table-info {
  display: flex;
  flex-direction: column;
  max-width: 421px;
  padding: 16px;
  font-family: "Lakes";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1b1c21;

}

@media (min-width: 768px) {
  .main__price-table-info{
    gap: 16px;
  }
}

.main__price-table-info--commercial {
/*   display: flex; */
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  position: relative;

}

.main__price-table-info--commercial img {
  position: absolute;
  width: 24;
  height: 27;
  bottom: 0;

}
