.header {
  margin: 0px;
  padding: 0px;
  background-color: var(--theme-bg-base);
  overflow: hidden;
}

.header__main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  border-bottom: 1px solid var(--accent-color-primary);
}

@media (min-width: 768px) {
  .header__main-nav {
    height: 88px;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .header__main-nav {
    /*         display: none; */
    visibility: hidden;
    height: 0;
  }
}

.header__logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
  gap: 16px;
}

.header__actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
  gap: 16px;
}

@media (min-width: 768px) {
  .header__logo-nav {
    width: 227.28px;
  }
}

@media (min-width: 768px) {
  .header__actions {
    width: 332px;
  }
}

.header__button--hide-on-low,
.header__divider--hide-on-low {
  display: none;
}

@media (min-width: 768px) {
  .header__button--hide-on-low,
  .header__divider--hide-on-low {
    display: inline-block;
  }
}

.header__controls {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-bg-secondary);
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 152px;
}

@media (min-width: 768px) {
  .services {
    height: 168px;
  }
}

@media (min-width: 1121px) {
  .services {
    display: flex;
    justify-content: flex-end;
    height: 172px;
    gap: 8px;
  }
}

.services__header {
  display: contents;
}

@media (min-width: 1121px) {
  .services__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 40px;
  }
}

.services__header-h1 {
  height: 40px;
  color: #1b1c21;
}

.services__header-h1 h1 {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  gap: 12px;
  font-family: "TT Lakes";
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
}

@media (min-width: 768px) {
  .services__header-h1 {
    width: 257px;
  }

  .services__header-h1 h1 {
    gap: 20px;
  }
}

@media (min-width: 1121px) {
  .services__header-h1 {
    margin: 0px;
    padding: 0px;
    width: 266px;
    height: 40px;
  }

  .services__header-h1 h1 {
    margin: 0px;
    padding: 0px;
    gap: 30px;
  }
}

.services__request {
  display: none;
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}

@media (min-width: 1121px) {
  .services__request {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 368px;
    padding-right: 24px;
  }
}

.services__request-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 168px;
  height: 40px;
}

.services__request-button:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 173px;
  height: 40px;
}

.services__menu {
  display: flex;
  align-items: center;
  padding-left: 16px;
  height: 42px;
  white-space: nowrap;
  position: relative;
  overflow: auto;
}

@media (min-width: 768px) {
  .services__menu {
    padding-left: 24px;
  }
}

@media (min-width: 1121px) {
  .services__menu {
    display: flex;
    width: 1063px;
    height: 82px;
    white-space: normal;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 32px;
    overflow: hidden;
  }
}

.services__menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  border-radius: 6px;
  box-sizing: border-box;
  font-family: "TT Lakes";
  color: #7e7e82;
  padding: 0 16px;
/*   padding: 5%; */
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.2px;
}

@media (min-width: 768px) {
  .services__menu-item {
    padding: 2%;
  }
}

@media (min-width: 1121px) {
  .services__menu-item {
    padding: 2%;
    max-width: 260px;
  }
}

.services__menu-item:first-child {
  border: 2px solid var(--accent-color-primary);
  background-color: var(--theme-bg-base);
}

.services__menu-item:nth-child(2) {
  border: 2px solid var(--accent-color-primary);
  background-color: var(--theme-bg-base);
}

@media (min-width: 1121px) {
  .services__menu-item:nth-child(2) {
    background-color: var(--theme-bg-secondary);
  }
}

.services__menu-item--hide-on-small {
  display: none;
}

@media (min-width: 1121px) {
  .services__menu-item--hide-on-small {
    display: inline-block;
  }

  .services__menu-item:first-child {
    display: flex;
  }

  .services__menu-item:nth-child(2) {
    border: none;
    background-color: none;
  }
}

.services__scroll-fade {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 40px;
  background: linear-gradient(
    270deg,
    var(--theme-bg-secondary) 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  pointer-events: none;
}

@media (min-width: 1121) {
  .services__scroll-fade {
    display: none;
  }
}

.about-company {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--accent-color-primary);
}

@media (min-width: 768px) {
  .about-company {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 32px;
  }
}

@media (min-width: 1440px) {
  .about-company {
    padding: 7px 0 50px 0;
  }
}

.about-company__br {
  display: contents;
}

@media (min-width: 1121px) {
  .about-company__br {
    display: block;
  }
}

.about-company__br--second {
  display: contents;
}

@media (min-width: 768px) {
  .about-company__br--second {
    display: block;
  }
}

.about-company__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-overflow: ellipsis;
  font-family: "Lakes";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  padding: 0 16px 16px 16px;
}

@media (min-width: 768px) {
  .about-company__info {
    display: flex;
    flex-direction: column;
    padding: 0 24px 24px 24px;
  }
}

@media (min-width: 1121px) {
  .about-company__info {
    padding: 0 34px 34px 34px;
  }
}

.about-company__text--secondary,
.about-company__text--third {
  display: none;
  opacity: 0;
  transition: opacity 0.7s ease;
}

@media (min-width: 768px) {
  .about-company__text--secondary {
    display: inline;
  }
}

@media (min-width: 1440px) {
  .about-company__text--secondary,
  .about-company__text--third {
    display: inline;
  }
}

.about-company__read-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 132px;
  height: 24px;
  cursor: pointer;
  font-family: "Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.about-company__read-more img {
  width: 24px;
}

.about-company__read-more-text {
  padding: 0;
  font-family: "Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  width: 100px;
  height: 24px;
}

.about-company__image {
  padding: 0;
  margin: 0;
  height: 176px;
  object-fit: cover;
  width: 100%;
}

@media (min-width: 768px) {
  .about-company__image {
    border-radius: 5px;
    min-width: 360px;
    min-height: 208px;
  }
}

@media (min-width: 1440px) {
  .about-company__image {
    min-width: 531px;
    width: 531px;
    min-height: 307px;
  }
}
