
<nav class="main__catalog-slider swiper">
  <div class="swiper-wrapper">
    <button class="swiper-slide main__catalog-slider__button custom-slide">
      <p>Ремонт ноутбуков</p>
      <img src="${go}" alt="Выбор" />
    </button>
    <button class="swiper-slide main__catalog-slider__button custom-slide">
      <p>Ремонт планшетов</p>
      <img src="${go}" alt="Выбор" />
    </button>
    <button class="swiper-slide main__catalog-slider__button custom-slide">
      <p>Ремонт ПК</p>
      <img src="${go}" alt="Выбор" />
    </button>
    <button class="swiper-slide main__catalog-slider__button custom-slide">
      <p>Ремонт мониторов</p>
      <img src="${go}" alt="Выбор" />
    </button>
    <button class="swiper-slide main__catalog-slider__button custom-slide">
      <p>Ремонт телефонов</p>
      <img src="${go}" alt="Выбор" />
    </button>
    <button class="swiper-slide main__catalog-slider__button custom-slide">
      <p>Ремонт принтеров</p>
      <img src="${go}" alt="Выбор" />
    </button>
    <button class="swiper-slide main__catalog-slider__button custom-slide">
      <p>Ремонт проекторов</p>
      <img src="${go}" alt="Выбор" />
    </button>
    <button class="swiper-slide main__catalog-slider__button custom-slide">
      <p>Ремонт Smart TV</p>
      <img src="${go}" alt="Выбор" />
    </button>
    <button class="swiper-slide main__catalog-slider__button custom-slide">
      <p>Ремонт игровых приставок</p>
      <img src="${go}" alt="Выбор" />
    </button>
    <button class="swiper-slide main__catalog-slider__button custom-slide">
      <p>Ремонт фотоаппаратов</p>
      <img src="${go}" alt="Выбор" />
    </button>
    <button class="swiper-slide main__catalog-slider__button custom-slide">
      <p>Ремонт умных часов</p>
      <img src="${go}" alt="Выбор" />
    </button>
  </div>
  <div class="swiper-pagination"></div>
</nav>