        <figure class="about-company__image">
          <img
            src="${compLow}"
            alt="Фотография офиса нашей компании"
          />
        </figure>


        <img src="${compLow}" alt="Фотография офиса нашей компании" class="about-company__image"/>



 <div class="footer__copyright">
    <p>© 2019 CPS</p>
    <p>Разработано командой Apesong</p> 
</div>
  <p class="footer__policy">Политика конфиденциальности</p>
  <p class="footer__offer">Информация, размещенная на данной странице, не является публичной офертой</p>

