<!-- @format -->

<section class="main__price-table" id="priceSlider">
  <!-- Заголовки -->
  <div class="main__price-table-head">
    <p>Ремонтные услуги</p>
    <p>Цена</p>
    <p>Срок</p>
  </div>

  <div class="main__price-table-row--wrappler">
    <!-- Строка 1 -->
    <div class="main__price-table-row">
      <p>Диагностика</p>
      <p>Бесплатно</p>
      <p>30 мин</p>
      <button class="main__price-table-button">
        <img src="${deliver}" alt="Подробнее" />
      </button>
    </div>

    <div class="main__price-table-row">
      <p>Замена дисплея</p>
      <p>1 000 ₽</p>
      <p>30 - 120 мин</p>
      <button class="main__price-table-button">
        <img src="${deliver}" alt="Подробнее" />
      </button>
    </div>

    <div class="main__price-table-row">
      <p>Замена полифонического динамика</p>
      <p>1 000 ₽</p>
      <p>30 - 120 мин</p>
      <button class="main__price-table-button">
        <img src="${deliver}" alt="Подробнее" />
      </button>
    </div>

    <div class="main__price-table-row">
      <p>Тестирование с выдачей технического заключения</p>
      <p>1 000 ₽</p>
      <p>30 - 120 мин</p>
      <button class="main__price-table-button">
        <img src="${deliver}" alt="Подробнее" />
      </button>
    </div>

    <div class="main__price-table-row">
      <p>Замена программного обеспечения</p>
      <p>1 000 ₽</p>
      <p>30 - 120 мин</p>
      <button class="main__price-table-button">
        <img src="${deliver}" alt="Подробнее" />
      </button>
    </div>
  </div>
</section>
