/** @format */

.feedback-popup__form input,
.feedback-popup__form textarea {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.feedback-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 676px;
  background-color: var(--theme-bg-base);
  display: flex;
  flex-direction: column;
  z-index: 1000;

  @media (min-width: 768px) {
    top: 0;
    right: 0;
    left: auto;
    height: 100vh;
    filter: drop-shadow(-16px 0px 52px #0e185033);
    will-change: filter;
    border-left: 1px solid var(--accent-color-primary);
  }

  @media (min-width: 1140px) {
    width: 440px;
  }

  &__content {
    position: relative;
    width: 304px;
    display: flex;
    flex-direction: column;
  }

  &__close {
    display: flex;
    padding: 24px 0 32px 16px;

    @media (min-width: 1140px)  {
      position: absolute;
      padding: 0;
      top: 32px;
      right: 332px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "TT Lakes";
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: var(--text-color-primary);

        @media (min-width: 1140px) {
          padding-top: 40px;
        }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "TT Lakes";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--text--color-tertiary);
    width: 288px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid var(--border-color-secondary);

    textarea {
      -webkit-appearance: none;
      appearance: none;
      outline: none;
      background: transparent;
      transition: border-color 0.3s ease;

      &::placeholder {
        font-family: "TT Lakes";
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: var(--text-color-secondary);
      }

      &:focus {
        border-color: var(--accent-color-primary);
      }
    }

    @media (min-width: 1140px) {
      width: 376px;
    }
  }

  &__label--message {
    height: 118px;
    display: flex;
    justify-content: flex-start;
  }

  &__privacy-consent {
    color: var(--text--color-secondary);
    font-family: "TT Lakes";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;

    @media (min-width: 1140px) {
      width: 376px;
    }
  }

  &__privacy-consent--link {
    color: var(--text--color-accent);
    cursor: pointer;

    &:hover {
      color: var(--text--color-accent-hover);
    }

    &:active {
      color: var(--text--color-accent-active);
    }
  }
}

.feedback-popup__submit-img {
  display: flex;
  justify-content: flex-end;
}

.feedback-popup__label input::placeholder,
.feedback-popup__label textarea::placeholder {
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--text-color-secondary);
  padding: 12px 0 0 16px;
}

.feedback-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.96);
  z-index: 997;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.feedback-overlay.feedback-overlay--visible {
  opacity: 1;
  visibility: visible;
}
